* {

    margin: 0;

}

/*
map styles
*/

#mapid { 

    height: 100vh; 
    z-index: 0;

}

/*
close botton styles
*/

#close-botton {

    background-color: black;
    border-radius: 100%;
    border: 0.5em solid black;
    position: fixed;
    top: 1em;
    right: 1em;
    height: 4em;
    width: 4em;
    z-index: 3;
    cursor: pointer;
    display: none;

}

/*
sector stats styles
*/

#sector-stats {
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 800px;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    transition: all 0.2s linear;

}

#sector-data{
    width: 90%;
    padding: 0.1em;
    max-height: 50%;
    border-radius: 25px;
    overflow-y: scroll;
    border: solid gray 2px;
}
#sector-data:hover {
    background-color: "#e9e9e9" !important;
    
}

#sector-data p{
    font-family: sans-serif ;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
}

#sector-location {
    display: flex;
    justify-content: center;
}
.hide-stats {
    left:-1000px !important;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
      #sector-stats {
          max-width: none;
      }
  }

#chart {
    max-height: 500px;
    max-width: 900px;
}

/*
time line
*/

body {
    background-color: blue;
}

#repro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 1.1em;
    z-index: 1;
}

#reproductor {
    height: 2em;
    border: 1px solid #4287f5;
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

#reproductor > tr {
    width: 100%;
}

#repro-container  img {
    height: 2em;
    cursor: pointer;
}

.hide {
    display: none !important;
}

#speedTime {
    font-size: 1em;
    border: none;
    background: none;
    font-family: sans-serif;
    color: white;
    width: 4em;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
    text-align: center;
}
#speedTime:hover {
    border: solid white 1px;
    border-radius: 25px;
    background-color: white;
    color: black;
}
#repro-controls {
    display: flex;
    align-items: center;
    padding: 1em;
}
#repro-date {

    width: 10em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 3px;
    font-weight: 1em;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
}
#views {
    position: fixed;
    z-index: 2;
    right: 7em;
    top: 7em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color:black;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-family: sans-serif;
    font-weight: bold;
}
#views p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0.5em;
    padding: 1em;
    border-radius: 10px;
}
p:hover {
    border-radius: 10px ;
    box-shadow: 0 0 3px grey;
}
.actived {

    cursor:auto !important;
    border-radius: 10px ;
    box-shadow: 0 0 3px grey;
}
.sectorsId {
    background-color: none ;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
}

#load-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color:#dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
#btn-boxplot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 10px;
    background: none;
    margin-left: 1em;
    margin-right: 1em;
    width: 10em;
    border: 0.2em solid #4287f5;
    padding: 1em;
}

button:hover {
    color: white;
    background: #4287f5;
}

.btn-actived {

    background: #4287f5;
    color: white;
    border-radius: 10px ;
    box-shadow: 0 0 3px grey;

}

#legend {

    height: 20em;
    width: 10em;
    position: fixed;
    right: 2em;
    top: 35em;
    z-index: 2;
    display: flex;
    justify-content: space-between;

}

#legend-values {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    color: white;
    font-family: sans-serif;
    width: 80%;

}

#legend-bar {

    border: solid white 1px;
    width: 10%; background: rgb(255,0,0);
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,255,0,1) 50%, rgba(0,255,0,1) 100%); 

}


.dark-market {
    
    background-color: black !important;
    border-top-left-radius: 25px !important;
    border-top-Right-radius: 25px !important;

}


#tiles-selector {
    position: fixed;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    top: 7em;
    right: 1em;
    z-index: 3;
    border-radius: 10px;
    background-color: white;
}

#tiles-selector img{

    width: 2em;
    height: 2em;
    padding: 0.5em;

}
#tiles-selector div{

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    margin: 0.1em;

}

#tiles-selector div:hover{
    border-radius: 10px ;
    box-shadow: 0 0 3px grey;
    
}

.black-font {
    color: black !important;
}