* {

    margin: 0;

}

/*
map styles
*/

#mapid { 

    height: 100vh; 
    z-index: 0;

}

/*
close botton styles
*/

#close-botton {

    background-color: black;
    border-radius: 100%;
    border: 0.5em solid black;
    position: fixed;
    top: 1em;
    right: 1em;
    height: 4em;
    width: 4em;
    z-index: 3;
    cursor: pointer;
    display: none;

}

/*
sector stats styles
*/

#sector-stats {
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 800px;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    transition: all 0.2s linear;

}

#sector-data{
    width: 90%;
    padding: 1em;
    border-radius: 25px;
    overflow-y: scroll;
    border: solid gray 2px;
}
#sector-data:hover {
    background-color: "#e9e9e9" !important;
    
}

#sector-data p{
    font-family: sans-serif ;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
}

#sector-location {
    display: flex;
    justify-content: center;
}
.hide-stats {
    left:-1000px !important;
}

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 568px) {
      #sector-stats {
          max-width: none;
      }
  }

#chart {
    max-height: 500px;
    max-width: 900px;
}

/*
time line
*/

body {
    background-color: blue;
}

#repro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 1.1em;
    z-index: 1;
}

#reproductor {
    height: 2em;
    border: 1px solid #4287f5;
    width: 100%;
    border-collapse: collapse;
    cursor: pointer;
}

#reproductor > tr {
    width: 100%;
}

#repro-container  img {
    height: 2em;
    cursor: pointer;
}

.hide {
    display: none !important;
}

#speedTime {
    font-size: 1em;
    border: none;
    background: none;
    font-family: sans-serif;
    color: white;
    width: 4em;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
    text-align: center;
}
#speedTime:hover {
    border: solid white 1px;
    border-radius: 25px;
    background-color: white;
    color: black;
}
#repro-controls {
    display: flex;
    align-items: center;
}
#repro-date {

    width: 10em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 3px;
    font-weight: 1em;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
}
#views {
    position: fixed;
    z-index: 2;
    right: 1em;
    top: 10em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color:white;
    border:solid 2px black;
    border-radius: 25px;
    cursor: pointer;
    background-color: black;
    font-family: sans-serif;
    font-weight: bold;
}
#views p {
    padding: 1em;
    border-radius: 20px;
}
p:hover {
    color:black;
    background-color: white;
}
.actived {
    cursor:auto !important;
    background-color: #4287f5 !important;
    color: black;
}
.sectorsId {
    background-color: none ;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

#load-screen {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color:#dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}